<div class="container-fluid vh-100 p-0 d-flex">
    <!-- Barra lateral -->
    <div class="bg-dark text-white p-3" style="width: 250px;">
        <!-- Logo -->
        <div class="text-center mb-4">
            <img src="greenHouse.ico" alt="Logo">
            <h3 class="text-asadero fw-bold">Asadero<br>Casa Verde</h3>
        </div>

        <!-- Menú lateral -->
        <ul class="nav flex-column">
            <li class="nav-item mb-2">
                <button class="btn w-100 text-start text-white sidebar-btn">Users</button>
            </li>
        </ul>
    </div>

    <!-- Contenido principal -->
    <div class="flex-grow-1 bg-white d-flex align-items-center justify-content-center">
        <h1 class="text-asadero fw-bold">INICIO</h1>
    </div>
</div>